body {
  font-family: "Courier New", Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(209, 209, 209);
}
:root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  height: 100%;

  width: 100%;
  margin: auto;
}
.questionContainer {
  float: left;
}
.input {
  position: relative;

  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  background-color: transparent;
  border: transparent;
  float: left;
  width: max-content;
  outline: none;
}
.learnSomeThingElseButtonContainer {
  margin: auto;
  width: max-content;
}
.learnSomeThingElseButton {
  background-color: transparent;
  cursor: pointer;
  border: 0px;

  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
}
.learnSomeThingElseButtonContainer {
  width: max-content;
  margin: auto;
}
.titleContainer {
  width: max-content;

  margin: auto;
}

.Typewriter {
  float: left;
}
.typedContainer {
  font-size: 40px;

  width: max-content;
  margin: auto;
  margin-top: 400px;
}
.mainDisplayContainer {
  width: 200px;
  font-size: 10px;

  float: left;
  padding: 10px;
  border-radius: 10px;
  color: white;
  margin: 10px;
}
.resultsContainer {
  width: 1200px;
  margin: auto;
  padding-bottom: 40px;
}
.mainResourceDisplayContainer {
  width: max-content;
  height: 1000px;
  border-radius: 10px;
  margin: auto;
  margin: 20px;
}

.loading {
  width: max-content;
  margin: auto;

  font-size: 30px;

  margin-top: 400px;
}
.resultTopicTitle {
  text-transform: capitalize;
}
